
nav{
    color: red;
}
.navbar_fixed{
    position: fixed;
    width: 100%;
    top: -1px;
    left: 0;
    right: 0;
    background: #ffffff;
    box-shadow:0 5px 20px rgba(94, 93, 98, 0.205);
    z-index: 999;
    transition: background 0.4s ease;
}